<div class="container">
<h1> My Training </h1>
<h1> {{trainingNombre}} </h1>
<h1> Ruta Aprendizaje </h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--Container Curso-->
    <ng-container  matColumnDef="curso">

        <th mat-header-cell *matHeaderCellDef>
            <p>Curso</p>
        </th>

        <!--Traigo la variable-->
        <td mat-cell *matCellDef="let element" > <p> {{element.nombreCurso}} </p> </td>

    </ng-container>


    <!--Container Prerrequisito-->
    <ng-container  matColumnDef="prerrequisito">

        <th mat-header-cell *matHeaderCellDef>
            <p>Prerrequisito</p>
        </th>

        <!--Traigo la variable-->
        <td mat-cell *matCellDef="let element"> <p> {{element.prerrequisitos}} </p> </td>

    </ng-container>


    <!--Container Nivel-->
    <ng-container  matColumnDef="nivel">

        <th mat-header-cell *matHeaderCellDef>
            <p>Nivel</p>
        </th>

        <!--Traigo la variable-->
        <td mat-cell *matCellDef="let element"> <p> {{element.nivel}} </p> </td>

    </ng-container>


    <!--Container Accion-->
    <ng-container  matColumnDef="accion">

        <th mat-header-cell *matHeaderCellDef>
            <p>Accion</p>
        </th>

        <td mat-cell *matCellDef="let element">
            <a *ngIf="!element.tarea.entregado" routerLink="/resumen/{{element.cursoId}}/{{trainingId}}/{{element.nombreCurso}}"  style="text-decoration: none;">
                <button class="zoom">Entregar</button>
            </a>
            <p *ngIf="element.tarea.entregado && (element.tarea.nota == null)">
                Pendiente...
            </p>
            <p *ngIf="element.tarea.entregado && (element.tarea.nota !== null)">
                {{element.tarea.nota}}
            </p>
        </td>

    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

</div>
