@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #111979;
    font-weight: bolder;
    margin-top: 2%;
   }