<h1> My Training </h1>
<h1> #InserteNombreCurso </h1>
<h1> Ruta Aprendizaje </h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   
    <!--Container Curso-->
    <ng-container  matColumnDef="curso">

        <th mat-header-cell *matHeaderCellDef>
            <p>Curso</p>
        </th>

        <!--Traigo la variable-->
        <td mat-cell *matCellDef="let element"> <p> {{element.cursoId}} </p> </td>

    </ng-container>


    <!--Container Prerrequisito-->
    <ng-container  matColumnDef="prerrequisito">

        <th mat-header-cell *matHeaderCellDef>
            <p>Prerrequisito</p>
        </th>

        <!--Traigo la variable-->
        <td mat-cell *matCellDef="let element"> <p> {{element.cursoId}} </p> </td>

    </ng-container>


    <!--Container Nivel-->
    <ng-container  matColumnDef="nivel">

        <th mat-header-cell *matHeaderCellDef>
            <p>Nivel</p>
        </th>

        <!--Traigo la variable-->
        <td mat-cell *matCellDef="let element"> <p> {{element.cursoId}} </p> </td>

    </ng-container>


    <!--Container Accion-->
    <ng-container  matColumnDef="accion">

        <th mat-header-cell *matHeaderCellDef>
            <p>Accion</p>
        </th>

        <td mat-cell *matCellDef="let element"> 
            <a routerLink="/resumen" style="text-decoration: none;">
                <button class="zoom">Entregar</button> 
            </a>
        </td>

    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
