@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #111979;
    font-weight: bolder;
    margin-top: 2%;
   }

p {
    width: 90%;
}
  

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}